extensions:
    arachne.containerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.eventManager: Arachne\EventManager\DI\EventManagerExtension

services:
    subscriber:
        class: Tests\Integration\Fixtures\Subscriber
        tags:
            - arachne.eventManager.subscriber
