extensions:
    arachne.containerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.eventManager: Arachne\EventManager\DI\EventManagerExtension

services:
    subscriber:
        class: DateTime
        tags:
            - arachne.eventManager.subscriber
