extensions:
    arachne.containeradapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.eventmanager: Arachne\EventManager\DI\EventManagerExtension

services:
    subscriber:
        class: DateTime
        tags:
            - arachne.eventManager.subscriber
